
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row">
        <div class="box">

            <div class="container">
                <br />
                <div style="height:90%;width:90%;">
                    <div style="float:inherit; position:relative;" align="center">
                        <img src="~/Assets/img/PageNotFound.png" style="height:400px;" />
                    </div>
                    <br />
                    <div style="float:inherit; position:relative; ">
                        <p style="font-size:xx-large; font-family:'Times New Roman', Times, serif; text-align:center;"> Sayfa Bulunamadı ! </p>
                    </div>
                </div>
                @* fazla *@
            </div>
        </div>

    </div>

</div>